@{
    ViewBag.Title = "AngularApp";
}

<div data-ng-app="MainApp" data-ng-cloak>

    <h2>AngularApp</h2>

    <div data-ng-view></div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")
}